<h2>注文履歴詳細</h2>

<div>
    
  <div>
      
     <div>
         
         <div>
             <div>購入者</div>
             <div></div>
         </div>
         <div>
             <div>注文日</div>
             <div></div>
         </div>
         <div>
             <div>配送先</div>
             <div></div>
         </div>
         <div>
             <div>支払方法</div>
         </div>
         <div>
             <div>注文ステータス</div>
             <div></div>
             <div><%= f.submit "更新" %></div>
         </div>
     </div>


            <div>
                <table>
                    <thead>
                        <tr>
                            <th>商品名</th>
                            <th>単価（税込）</th>
                            <th>数量</th>
                            <th>小計</th>
                            <th>制作ステータス</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                    </tbody>
                </table>
            </div>
    </div>
</div>