<h2>ジャンル一覧・追加</h2>

<div>
  ジャンル名
 <%= f.text_field :name %>
 <%= f.submit "新規登録" %>
</div>


<table>
  <thead>
    <tr>
      <th>ジャンル</th>
      <th></th>
    </tr>
  
  </thead>
  <tbody>
    <tr>
      <td><%= genre.name %></td>
      <td>編集する</td>
    </tr>
  </tbpdy>
</table>