<h1>商品詳細</h1>


<h4>商品名</h4>
<p><%= @product.name %></p>

<h4>商品説明</h4>
<p><%= @product.caption %></p>

<h4>ジャンル</h4>

<h4>税込価格</h4>
<h4>（税抜価格）</h4>

<h4>販売ステータス</h4>

<span><%= link_to "編集する",edit_admin_product_path(@product) %></span>